%header
  %h1
    %a{:href => "/"} Wikibox
  %nav
    %strong= @user.email
    %a{:href => "/settings"} settings
    %a{:href => "/logout"} log&nbsp;out
- if flash[:error]
  %div.flash.error= flash[:error]
- if flash[:info]
  %div.flash.info= flash[:info]