- if flash
  %script{:type => "text/javascript", :src => "/$dom.js"}
  :javascript
    if (!Array.prototype.forEach) {Array.prototype.forEach = function(fun){var len=this.length;
    if (typeof fun!="function") throw new TypeError();
    var thisp = arguments[1];for (var i = 0; i < len; i++){if (i in this)fun.call(thisp, this[i], i, this);}}}
    var el = $dom.get('.flash');
    setTimeout(function() {
    if (Modernizr.csstransitions) el.forEach(function(e){$dom.addClass(e,'fade')})
    else el.forEach(function(e){$dom.transform(e,{opacity:0},600)});
    }, 1500);
    setTimeout(function() {
    el.forEach(function(e){e.outerHTML=''});
    }, 2100)