@import compass/reset
@import compass/reset/utilities
@import compass/utilities
@import compass/utilities/general/min
@import compass/utilities/general/clearfix
@import compass/utilities/links/hover-link
@import compass/utilities/links/link-colors
@import compass/utilities/links/unstyled-link
@import compass/css3/box
@import compass/css3/transition
@import compass/css3/border-radius
@import compass/css3/gradient

+reset-html5

$sidepad: 2em
$col: #e80556

body
  font: 16px "Helvetica Neue", sans-serif

a
  +link-colors($col, lighten($col, 25%), saturate($col, 40%))
  +hover-link

body > header
  padding: 0.5em $sidepad*0.6
  border-bottom: #c4c4c4 solid 1px
  font-size: 1.2em
  overflow: hidden
  h1
    float: left
  nav
    text-align: right
    width: 100%

.flash
  padding: 0.8em $sidepad
  +transition(opacity, 0.6s, linear)
  &.fade
    opacity: 0

.info
  background: #ffdf6a
  color: #212121

.error
  background: #d00
  color: #fdfdfd

.hidden
  display: none

label:after
  content: ":"

#page
  #wrapper
    +display-box
    +box-pack(start)
    +box-orient(horizontal)
    min-width: 90% /* damn gecko */
    margin: 2em $sidepad 0
    nav
      +box-flex(1)
      input
        width: 50%
      ul
        +no-bullets
      .active
        +unstyled-link
    article
      line-height: 1.35em
      +box-flex(4)
      p
        margin-bottom: 1em
      textarea
        display: block
        width: 90%
        +min-height(20em)
        margin: 0 auto
      button
        margin: 1em 0 0 5%
      header
        text-align: right
        border-bottom: #a2a2a2 dashed 1px
        margin-bottom: 0.65em
        +clearfix
        h1
          float: left
          font:
            weight: bold
            size: 1.4em

#landing
  text-align: center
  padding: 5em
  h1
    font-size: 3em
  p
    margin: 2em auto
    width: 55%
  #auth
    display: block
    width: 65%
    margin: 0 auto
    padding: 0.4em 0
    font:
      weight: bold
      size: 2.2em
    +border-radius(0.3em)
    +linear-gradient(color-stops(lighten($col, 25%), darken($col, 20%)))
    color: #fefefe
    text-shadow: lighten($col, 10%) 0 1px

.no-cssgradients #auth
  background: url('http://webgradients.appspot.com/make?start=FC71A2&end=840331&height=80') repeat-x #840331

#settings
  & > h1
    margin: 1em $sidepad
    font:
      weight: bold
      size: 1.4em
  label, input
    float: left
    margin-bottom: 0.6em
  label
    width: 35%
    line-height: 1.25em
    text-align: right
    vertical-align: text-bottom
    clear: left
  input
    width: 40%
  button
    display: block
    margin-left: 35%
    clear: left
    font-size: 1.2em

@media screen and (max-width: 480px)
  body
    font-size: 14px
  .long
    display: none
  #wrapper
    display: block !important
    margin: 2em 1em 0
    nav
      margin-bottom: 2em
    article
      header
        font-size: 1.2em