!!! 5
%html{:lang => "en"}
  %head
    %title Settings / Wikibox
    = haml :head
  %body#settings
    = haml :header
    %h1 Settings
    %form{:method => "post", :action => ""}
      %label{:for => "folder"} Folder
      %input{:name => "folder", :type => "text", :value => @user.folder}
      %label{:for => "indexfile"}
        Index file
        %span.long (main page)
      %input{:name => "indexfile", :type => "text", :value => @user.indexfile}
      %button{:type => "submit"} Save
    = haml :js